# {{ ansible_managed }}
# hostapd systemd service for Pimeleon router

[Unit]
Description=IEEE 802.11 AP, IEEE 802.1X/WPA/WPA2/WPA3 Authenticator
Documentation=man:hostapd(8)
# AP mode does not need internet - only needs wlan0 device and networkd started
After=systemd-networkd.service sys-subsystem-net-devices-{{ wifi_interface | default('wlan0') }}.device
Wants=systemd-networkd.service
BindsTo=sys-subsystem-net-devices-{{ wifi_interface | default('wlan0') }}.device

[Service]
Type=forking
PIDFile=/run/hostapd.pid
ExecStartPre=/usr/local/bin/hostapd -t /etc/hostapd/hostapd.conf
ExecStart=/usr/local/bin/hostapd -B -P /run/hostapd.pid /etc/hostapd/hostapd.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5

# Hardening
ProtectSystem=full
ProtectHome=yes
PrivateTmp=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
