[Unit]
Description=Pimeleon Nitro Proxy Server
After=network-online.target pimeleon-api.service
Wants=network-online.target pimeleon-api.service

[Service]
Type=simple
User=pim-proxy
Group=pim
WorkingDirectory=/opt/pimeleon/proxy
Environment=NODE_ENV={{ build_mode | default('development', true) }}
Environment=HOST=127.0.0.1
Environment=PORT={{ ui_proxy_port | default('3000', true) }}
EnvironmentFile=/opt/pimeleon/proxy/.env
ExecStart=/usr/bin/node index.mjs
Restart=on-failure
RestartSec=5
TimeoutStartSec=90
TimeoutStopSec=30

# Security hardening
#NoNewPrivileges=true
#ProtectSystem=strict
#ProtectHome=true
#ReadWritePaths=/var/log/pimeleon

[Install]
WantedBy=multi-user.target
