# /etc/dphys-swapfile - user settings for dphys-swapfile package
# Managed by Pimeleon build system
# Ported from production 'gw' host

# where we want the swapfile to be, this is the default
# gw uses /swap, default is /var/swap
CONF_SWAPFILE={{ dphys_swapfile_path | default('/swap') }}

# set size to absolute value, leaving empty (default) then uses computed value
# gw uses 1024 (MB)
CONF_SWAPSIZE={{ dphys_swapfile_size | default(1024) }}

# set size to computed value, this times RAM size, dynamically adapts
#CONF_SWAPFACTOR=2

# restrict size (computed and absolute!) to maximally this limit
# gw uses 1024
CONF_MAXSWAP={{ dphys_max_swap | default(1024) }}
