# {{ ansible_managed }}
# dnscrypt-proxy socket activation

[Unit]
Description=DNSCrypt-proxy socket
Documentation=https://github.com/DNSCrypt/dnscrypt-proxy/wiki

[Socket]
ListenStream={{ dnscrypt_listen_address | default('127.0.0.1') }}:{{ dnscrypt_port | default(5054) }}
ListenDatagram={{ dnscrypt_listen_address | default('127.0.0.1') }}:{{ dnscrypt_port | default(5054) }}

[Install]
WantedBy=sockets.target
