# {{ ansible_managed }}
# Pi-hole setupVars.conf for compatibility with scripts
# Primary configuration is in /etc/pihole/pihole.toml

WEBPASSWORD=
PIHOLE_INTERFACE={{ wifi_interface | default('wlan0') }}
IPV4_ADDRESS={{ default_ip }}/{{ default_netmask_cidr }}
IPV6_ADDRESS=
QUERY_LOGGING=true
INSTALL_WEB_SERVER=false
INSTALL_WEB_INTERFACE=false
LIGHTTPD_ENABLED=false
CACHE_SIZE=10000
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSMASQ_LISTENING=local
PIHOLE_DNS_1={{ pihole.upstream_dns_1 | default(dns_local ~ '#' ~ dnscrypt_port) }}
PIHOLE_DNS_2={{ pihole.upstream_dns_2 | default('') }}
DNSSEC={{ pihole.dnssec | default(true) | lower }}
REV_SERVER={{ pihole.rev_server | default(false) | lower }}
